h3 {
  font-weight:bold;
  margin:1em 0 0 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:  #001f3f;
    background: url('waves-2.jpg') no-repeat top center ;
      margin: 0 auto;
}


h1, h2, h3, h4 {
  font-family: 'Playfair Display', monospace;
    color:  #001f3f;
}

.bg-image {

}


p {
  margin:1em 0 0 0;
  font-size:9pt;
}

a:link, a:visited{
  color:#758e93;
    padding:2px;
}

a:hover, a:active {
  color:#ffffff;
  background-color:#758e93;
  padding:2px;
  border-radius: 5px;
  text-decoration: none;
}

.services {
  list-style-position: inside;
  list-style-type: circle;
  margin:0px;
  padding:0px 10px;
  font-size:9pt;
}

.h-center {
  padding:0px 20px;
}

.h-center h3{
  text-align: center;
}

.about-grid {
  display: grid;
  Grid-template-columns: 50% 50%;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  background-color: rgba(5, 255, 255, 0.8);
    border-radius: 40px;
}

.container > div {
  margin: 20px;
}

.buttons {
 text-align: center;
}

.intro {
  text-align:center;
  padding-top: 50px;
}


.projects-heading {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.project-image {
  transition: all ease-in-out .2s;
  width:250px;
}

.project-image:hover {
  opacity: 0.5;
}

.project-image-wrapper {
  justify-self: center;
  padding: 4%;
  position: relative;
}

.project-image-wrapper:hover > h4 {
  visibility: visible;
}

.project-image-wrapper > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out .2s;
}



@media (max-width:650px) {
  .projects-grid, .about-grid {
   grid-template-columns: 100%;
  }
}


  
.pp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


.icon {
  padding:10px;
  width:50px;
}

.icon:hover {
  opacity: 50%;
  background:none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer {
   text-align: center;
     align-items: center;
     font-family: 'Playfair Display', monospace;
    color:  #001f3f;
}

